body {
    background-color: #191919;
    padding: 15px 50px;
}

h1 {
    color: aqua;
    text-align: center;
    font-size: 54px;
}

h2{
    color: aqua;
    text-align: center;
}
h3{
    color: aqua;
    text-align: center;
}

ol li {
    color: aqua;
    font-size: 54px;
}
p {
    color: aqua;
    text-align: center;
    font-size: 54px;
}
